@font-face {
  font-family: Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400; 
  font-style: normal;
  }
  
@font-face {
  font-family: Bold;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700; 
  font-style: normal;
  }
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
.popup {
  display: none;
}
.popup-fixed {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 50;
}
.popup-fixed::after {
  content: "";
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0.5;
  z-index: 45;
}
.container-popup {
  position: relative;
  margin-top: 35px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 30px;
  background-color: #ffffff;
  z-index: 50;
}
.content {
  z-index: 1;
}
.popup-title{
  font-family: Bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  display: flex;
  justify-content: center;  
  margin-bottom: 30px;
}

.popup-title::after{
  content: "";
  position: absolute;
  display: block;
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
  margin-top: 30px;    
}
.container-popup-close {
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
 }
.popup-close {
  width: 20px;
  height: 20px;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
  position: absolute;
  top: -25px;
  right: 2px;  
}
.img-close {
  width: 20px;
  height: 20px;
}
.popup-close:before, .popup__close:after {
  width: 1.4em;
  height: 0.2em;
}
.form-popup-title {
  display: inline-block;
  font-family: Regular;
  font-size: 13px;
  padding-bottom: 7px;
}
.popup-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
  display: inline-block;
  width: 100%;
  height: 48px;  
  padding-left: 10px;
  padding-right: 25px;  
  margin: 0;  
  border: 1px solid #f9f9f9;
  background-color: #f9f9f9;  
  font-size: 13px;
  font-family: Regular;
  color: #6e6e6e;
  margin-bottom: 30px;
}
.select-form-arrows {
  width: 18px;
  height: 18px;
  color: #b59f5b;
  position: right 5px center;
}
.container-popup-radio {
  display: flex;
  margin-bottom: 25px;
}
.form-radio:nth-child(n+2) {
  margin-left: 30px;
}
.form-radio input[type=radio] {
  display: none;
}
.form-radio label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  padding-bottom: 5px;
  margin-right: 0;
  user-select: none;
}
.form-radio label:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px;
}
 
.form-radio input[type=radio]:checked + label:before {
  background-image: url(../svg/form-circle.svg);
}
.popup-text {
  width: 100%;
  border: 1px solid #f9f9f9;
  background-color: #f9f9f9;
  font-size: 13px;
  font-family: Regular;
  padding: 15px 15px 80px 15px;
}
.button-submit{
  display: block;
  width: 100%;
  height: 48px;
  cursor: pointer;
  
  font-family: Bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  
  border: 1px solid #b59f5b;
  background-color: #b59f5b;
  margin-top: 18px;
}
.button-submit:hover {
  color: #b59f5b;
  background-color: #ffffff;
}












.headline {
  background-image: url("../images/banner-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  background-position: center center;
  position: relative;
  z-index: 1;
  padding-bottom: 210px;
}
.headline::after {
    content:"";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: #000000;
    opacity: 0.5;
}
.container-logo-and-menu {
  display: flex;
}

.menu{
  display: none;
}
.menu-list{
  display: flex;
  list-style-type: none;
}
.menu-list-item:nth-child(n+2){
  margin-left: 35px;  
}
.menu-link{
  font-family: Regular;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
.headline-title{
  width: 280px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.headline-slogan{
  font-family: Bold;
  font-size: 26px;
  line-height: 1.4;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.container-trends-title {
  margin-top: 40px;
  margin-bottom: 35px;
}
.trend {
  min-height: 230px;
  display: flex;
}
.trends-title{
  font-family: Bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  display: flex;
  justify-content: center; 
}

.trends-title::after{
  content: "";
  position: absolute;
  display: block;
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
  margin-top: 30px;  
}
.trend-garden,
.trend-cheese,
.trend-hike,
.trend-vitamin-c {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.trend-garden {
  background-image: url("../images/trend1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index: 1;
}
.trend-garden::after {
  content:"";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #000000;
  opacity: 0.5;
}
.trend-cheese {
  background-image: url("../images/trend2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index: 1;
}
.trend-cheese::after {
  content:"";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #000000;
  opacity: 0.5;
}
.trend-hike {
  background-image: url("../images/trend3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index: 1;
}
.trend-hike::after {
  content:"";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #000000;
  opacity: 0.5;
}
.trend-vitamin-c {
  background-image: url("../images/trend4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index: 1;
}
.trend-vitamin-c::after {
  content:"";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #000000;
  opacity: 0.5;
}
.trend-info {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 15px;
  flex-grow: 1;
  border: 3px solid #b59f5b;
  margin: 15px 15px 15px 15px;
}

.trend-name-link {
  font-family: Bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
}

.page{  
  margin-top: 45px;
  margin-left: 15px;
  margin-right: 15px;
}

.publication:nth-child(n+2){
  margin-top: 35px;
}
.publication-image {
  width: 100%;
  background-color: #f4f7f6;
}
.publication-name {
  margin-top: 2px;
}
.tags-list{
  display: flex;
  list-style-type: none;

}
.tag-link{
  font-family: Bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #b59f5b;  
}
.tag-list-item:nth-child(n+2){
  margin-left: 15px;
}
.publication-name-link {
  font-family: Bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 1.25;
  color: #0f0d0e;
}
.publication-name-link:hover {
  color: #b59f5b;
}
.publication-date-author{
  display: flex;
  margin-top: 15px;
}
.publication-date{
  font-family: Regular;
  font-size: 12px;
  color: #888888;
}
.publication-author{
  margin-left: 10px;
  font-family: Bold;
  font-size: 12px;
  color: #000000;
}
.publication-description{
  margin-top: 12px;
  font-family: Regular;
  font-size: 15px;
  line-height: 1.46;
  color: #0f0d0e;
}


.sidebar-title{
  font-family: Bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  display: flex;
  justify-content: center; 
}

.sidebar-title::after{
  content: "";
  position: absolute;
  display: block;
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
  margin-top: 30px;
  
}
.container-sidebar-posts-title{
  margin-bottom: 35px;
}
.sidebar-posts-list{
  list-style-type: none;
}
.sidebar-posts-list-item{
  display: flex;
}
.sidebar-posts-list-item:nth-child(n+2){
  margin-top: 19px;
}

.container-post-date-name{
  margin-left: 20px;
}
.post-image {
  width: 70px;
  background-color: #f4f7f6;
}

.post-date{
  font-family: Regular;
  font-size: 12px;
  color: #888888;
}
.post-name-link{
  font-family: Bold;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
}
.post-name-link:hover {
  color: #b59f5b;
}
.sidebar-section {
  margin-bottom: 55px;
}
.search{
  display: flex;
  
}
.search-group {
  display: flex;
  flex-grow: 1;
}
.search-svg {
  fill: #ffffff;
  padding-top: 4px;
  width: 18px;
  height: 18px;
}
.query-field {
  display: flex;
  flex-grow: 1;
  border: 1px solid #f4f7f6;
  padding: 10px 10px 10px 15px;
  margin: 0;  
  font-family: Regular;
  font-size: 13px;
  height: 48px;
  background-color: #f4f7f6;
}
.query-button{
  width: 48px;
  height: 48px;

  border: 1px solid #b59f5b;
  background-color: #b59f5b;
  cursor: pointer;
}
.query-button:hover {
  background-color: #ffffff;
}
.query-button:hover .search-svg{
  fill: #b59f5b;
  width: 18px;
  height: 18px;
}

.sidebar-search-container{
  margin-top: 38px;
  margin-bottom: 30px;
}

.email-field{
  width: 100%;
  border: 1px solid #f4f7f6;
  padding: 10px 15px 10px 15px;
  margin: 0;
  
  font-family: Regular;
  font-size: 13px;
  height: 48px;
  background-color: #f4f7f6;
}
.email-field:focus {
  border: 1px solid #b59f5b;
}
.subscription-button {
  display: block;
  width: 100%;
  height: 48px;
  cursor: pointer;
  
  font-family: Bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  
  border: 1px solid #b59f5b;
  background-color: #b59f5b;
  margin-top: 18px;
}
.subscription-button:hover {
  color: #b59f5b;
  background-color: #ffffff;
}




.container-sidebar-title-tags {
  margin-top: 43px;
  margin-bottom: 30px;
}

.sidebar-tags-list {
  list-style-type: none;
}
.sidebar-tags-list-item {
  display: inline-block;
  border: 3px solid #eeeeee;
  padding: 5px 6px;
  margin: 2px;
}
.sidebar-tags-list-item-link {
  font-family: Bold;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0d0e;
}
.sidebar-tags-list-item-link:hover {
  color: #b59f5b;
}

.container-sidebar-themes-title {
  margin-top: 35px;
  margin-bottom: 18px;
}
.sidebar-themes-list{
  list-style-type: none;
}
.sidebar-theme-list-item {
  border-bottom: 1px solid #eeeeee;
  padding: 11px 0;
}
.sidebar-theme-list-item-link {
  font-family: Bold;
  font-size: 14px;
  text-decoration: none;
  color: #0f0d0e;
}
.sidebar-theme-list-item-link:hover {
  color: #b59f5b;
}
.degree{
  font-family: Bold;
  vertical-align: super;
  font-size: smaller;
  color: #b59f5b;
  padding-left: 5px;
}


.pic {
  display: flex;
  justify-content: center;
  margin-bottom: -35px;
}
.product-preview {
  background-color: #f4f7f6;
  z-index: -1;
  margin-right: auto;
  margin-left: auto;
}
.our-products-title{
  font-family: Bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  display: flex;
  justify-content: center; 
}

.our-products-title::after{
  content: "";
  position: absolute;
  display: block;
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
  margin-top: 30px;  
}
.products {
  margin-right: auto;
  margin-left: auto;
}

.product-img {
  width: 100%;
}
.product-name-link {
  font-family: Bold;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}
.product-name-link:hover {
  color: #b59f5b;
}
.product-description {
  font-family: Regular;
  font-size: 15px;
  text-decoration: none;
  color: #000000;
}
.product-video {
  color: #b59f5b;
}
.product-posts {
  color: #b59f5b;
}
.container-product-prices {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  
}
.product-price-value  {
  font-family: Bold;
  color: #000000;
}
.product-price-old {
  font-size: 14px;
  text-decoration: line-through;
}
.product-price {
  font-size: 20px;
}
.product-button {
  width: 50%;
  height: 48px;
  
  font-family: Bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  
  border: 1px solid #b59f5b;
  background-color: #b59f5b;
}
.product-button:hover{
  color: #b59f5b;
  background-color: #ffffff;
}

.sepulchre{
  padding-bottom: 30px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
.sepulchre-container{
  background-color: #f4f7f6;
  padding: 32px 0;
}
.sepulchre-list{
  display: flex;
  list-style-type: none;
  justify-content: center;  
}
.sepulchre-list-item:nth-child(n+2){
  margin-left: 26px;
}

.sepulchre-tumblr-link{
  display: block;
  width: 20px;
  height: 20px;

}
.sepulchre-pinterest-link{
  display: block;
  width: 20px;
  height: 20px;
}
.sepulchre-facebook-link{
  display: block;
  width: 20px;
  height: 20px;
}
.sepulchre-instagram-link{
  display: block;
  width: 20px;
  height: 20px;
}
.sepulchre-twitter-link{
  display: block;
  width: 20px;
  height: 20px;
}
.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
.copyright{
  font-family: Bold;
  font-size: 12px;
  text-align: center;
  color: #999999;
  margin-top: 68px;
}

@media (max-width: 640px) {
  .headline-logo {
    margin-top: 173px;
    order: 2;
    align-self: center;
  }
  .logo-image {
    width: 269px;
    
    margin-left: auto;
    margin-right: auto;
  }
  .button-burger {
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .header-burger {
    margin-right: 15px;
    margin-top: 32px;    
    order: 1;
    position: relative;
    width: 23px;
    height: 20px;
  }
  .header-burger::before,
  .header-burger::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
  }
  .header-burger::before {
    top: 0;
  }
  .header-burger::after {
    bottom: 0;
  }
  .header-burger span {
    display: block;
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 9px;
  }
  .container-logo-and-menu {
    flex-direction: column;
  }
  .header-burger {
    order: 1;
    align-self: flex-end;
  }
  .trend-cheese,
  .trend-hike,
  .trend-vitamin-c {
    margin-top: 3px;
  }
  .publication {
    margin-top: 45px;
    padding-bottom: 25px;
    border-bottom: 3px solid #eeeeee;
  }
  .sidebar {
    margin-top: 45px; 
  }
  .container-our-products-title {
    padding-top: 42px;
  }
  .product {
    margin-top: 40px;
    padding-top: 257px;
  }  
  .product:nth-child(n+2) {
    margin-top: 23px;
  }
  .container-product {
    border: 3px solid #b59f5b;
    margin-left: 15px;
    margin-right: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
  }
  .product-info {
    padding-top: 46px;
    padding-bottom: 12px;
  }
  .product-description {
    padding-top: 3px;
  }
  .pic {
    margin-top: -257px;
  }
  .sepulchre {
    margin-top: 46px;
  }
}
@media (min-width: 641px) and (max-width: 1200px) {
  .popup-fixed {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 50;
  }
  .popup-fixed::after {
    content: "";
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
    z-index: 45;
  }

  .container-popup {
    position: relative;
    width: 350px;
    margin-top: 0;
    background-color: #ffffff;
    z-index: 50;
  }
  .headline {    
    background-image: url("../images/banner-bg-tablet.jpg");
    padding: 40px 35px 110px 35px;
  }
  .container-logo-and-menu {
    justify-content: space-between;
  }
  .headline-logo {
    width: 160px;
  }
  .headline-title {
  width: 620px;
  margin-top: 85px;
  margin-left: auto;
  margin-right: auto;
  }
  .headline-slogan {
    font-size: 40px;
  }
  .button-burger {
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .header-burger {  
    order: 1;
    position: relative;
    width: 23px;
    height: 20px;
  }
  .header-burger::before,
  .header-burger::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
  }
  .header-burger::before {
    top: 0;
  }
  .header-burger::after {
    bottom: 0;
  }
  .header-burger span {
    display: block;
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 9px;
  }
  .trend {
    width: calc(50% - 4px);
    margin-bottom: 4px;
    min-height: 250px;
  }
  .trend:nth-child(odd) {
    margin-right: 4px;
  }
  .container-trends {
    display: flex;
    flex-wrap: wrap;
  }
  .trends-title {
    font-size: 18px;
  }
  .trend-info {
    padding-left: 33px;
    padding-bottom: 19px;
  }
  .trend-name-link {
    font-size: 17px;
  }
  .page {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
  }
  .publications {
    padding-left: 15px;
    padding-right: 15px;
  }
  .publication:nth-child(n+2) {
    margin-top: 62px;
}
  .publication-info {
    padding-top: 5px;
  }
  .publication-date-author {
    margin-top: 25px;
  }
  .publication-description {
    margin-top: 28px;
  }
  .sidebar {
    width: 280px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .sidebar-title {
    font-size: 14px;
  }
  .sidebar-search-container {
    margin-top: 57px;
  }
  .container-sidebar-title-tags {
    margin-top: 55px;
  }
  .container-sidebar-themes-title {
    margin-top: 53px;
  }
  .container-trends-title {
    margin-top: 45px;
  }
  .query-field {
    width: 232px;
  }
  .container-our-products-title {
    padding-top: 55px;
    padding-bottom: 60px;
  }
  .our-products-title {
    font-size: 18px;
  }
  .container-product {
    border: 3px solid #b59f5b;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  .product {
    display: flex;
    padding-top: 175px;
    width: 50%;
  }
  .product:nth-child(n+3) {
    margin-top: 50px;
  }
  .pic {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -198px;
  }
  .product-info {
    padding-bottom: 15px;
  }
  .product-name {
    padding-top: 47px;
  }  
}
















@media (min-width: 1201px) {
  .popup-fixed {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 50;
  }
  .popup-fixed::after {
    content: "";
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
    z-index: 45;
  }

  .container-popup {
    position: relative;
    width: 350px;
    margin-top: 0;
    background-color: #ffffff;
    z-index: 50;
  }
  .headline {
    background-image: url("../images/banner-bg.jpg");
    padding-top: 28px;
    padding-bottom: 125px;
  }
  .container-trends-title {
    margin-top: 57px;
  }
  .container-sidebar-themes-title {
    margin-top: 48px;
  }
  .header-burger {
    display: none;
  }
  .container-logo-and-menu {
    justify-content: space-between;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  .logo-image {
    width: 180px;
  }
  .menu{
    display: flex;
    padding-top: 10px;
  }
  .headline-title {
    margin-top: 101px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  .headline-slogan {
    font-family: Bold;
    font-size: 45px;
    line-height: 1.66;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
  }
  .trends-title {
    font-size: 20px;
  }
  .trend {
    width: 25%;
    min-height: 320px;
  }
  .trend:nth-child(n+2) {
    width: calc (25%-4px);
    margin-left: 4px;
  }
  .trend-name-link {
    font-size: 20px;
  }
  .container-trends {
    display: flex;
  }
  .page{
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
  }
  .publications {
    width: 815px;
  }
  .publication{
    display: flex;
    justify-content: space-between;
  }
  .publication:nth-child(n+2){
    margin-top: 58px;
  }
  .publication-image{
    width: 380px;
  }
  .publication-info {
    padding-left: 32px;
  }
  .publication-name-link {
    font-size: 20px;
  }
  .publication-date-author {
    margin-top: 25px;
  }
  .publication-description {
    margin-top: 45px;
  }
  .sidebar{
    width: 273px;
  }
  .query-field {
    width: 225px;
  }
  .sidebar-search-container {
    margin-top: 48px;
    margin-bottom: 35px;
  }
  .container-sidebar-title-tags {
    margin-top: 55px;
    margin-bottom: 33px;
  }
  .sidebar-title {
    font-size: 14px;
  }
  .container-our-products-title {
    margin-top: 55px;
  }
  .our-products-title {
    font-size: 20px;
  }
  .product {
    border: 3px solid #b59f5b;
    margin-left: 35px;
    margin-right: 35px;
    width: 33.333%;
    padding: 0 10px;
    margin-top: 40px;
  }
  .container-product {
    margin-top: -170px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .container-our-products-title {
    padding-bottom: 170px;
  }
  .pic {
    display: flex;
    justify-content: center;
    margin-bottom: -35px;
  }
  .product-preview {
    width: 100%;
    background-color: #f4f7f6;
    z-index: -1;
    margin-right: auto;
    margin-left: auto;
  }
  .product-info {
    padding-top: 53px;
    padding-bottom: 32px;
    z-index: 1;
  }
  .products {
    display: flex;
    width: 1250px;
  }
  .product-name-link {
    font-size: 20px;
  }
  .sepulchre {
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
  }
}